# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*

# Database (MySQL)
DB_NAME=attendance_db
DB_USER=root
DB_PASSWORD=Killnhau123
DB_HOST=127.0.0.1
DB_PORT=3306

# Celery / Redis
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# CORS (production only, comma separated)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Django Settings Module
DJANGO_SETTINGS_MODULE=config.settings.dev

#cloudinary
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name_here
CLOUDINARY_API_KEY=cloudinary_api_key_here
CLOUDINARY_API_SECRET=cloudinary_api_secret_here