# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/

# Database
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Static / Media
staticfiles/
media/

# Logs
logs/
*.log
AGENTS.md